main {
  width: 100%;
  margin-top: 20vh;
  padding: 64px 188px 48px 188px;
  h1 {
    color: #2a254b;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 50.4px */
  }

  .cart_box {
    .top_title {
      width: 100%;
      height: 4vh;
      display: flex;
      gap: 28%;
      margin-top: 40px;
      border-bottom: 1px solid #ebe8f4;
      p {
        color: #2a254b;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 19.6px */
        &:nth-child(2) {
          margin-left: 25%;
        }
      }
    }
    .product_section {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 20px 0;
      height: auto;
      .box {
        padding: 4px 0;
        width: 100%;
        height: 17vh;
        background-color: #fff;
        display: flex;
        gap: 21px;
        .img_part {
          width: 10%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .info_part {
          width: 78%;
          display: flex;
          align-items: center;
          .left_part {
            display: flex;
            flex-direction: column;
            gap: 12px;
            p,
            h2 {
              color: #2a254b;
              font-style: normal;
              font-weight: 400;
              line-height: 150%; /* 21px */
            }
            .name {
              font-size: 20px;
              line-height: 140%; /* 28px */
            }
            .description {
              width: 178px;
              font-size: 14px;
            }
            .price {
              font-size: 16px;
            }
          }
          .right_part {
            display: flex;
            align-items: center;
            gap: 70px;

            .quantity_box {
              width: 122px;
              height: 46px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              background-color: #f9f9f9;
              color: #cac6da;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              margin-left: 284px;
              div {
                width: 30%;
                height: 100%;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                user-select: none;
              }
              .quantity {
                color: #2a254b;
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
            .totalProductPrice {
              margin-left: 182px;
            }
          }
        }
      }
    }
    .bottom {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 14px;
      .subtotal {
        display: flex;
        align-items: center;
        gap: 16px;
        h1 {
          color: #4e4d93;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%; /* 28px */
        }
        p {
          color: #2a254b;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%; /* 33.6px */
        }
      }
      p {
        color: #4e4d93;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 21px */
      }
      button {
        padding: 16px 32px;
        background-color: #2a254b;
        color: #fff;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 24px */
        border: none;
        &:active {
          background-color: #2a254b;
          opacity: 0.9;
        }
      }
    }
  }
}
@media screen and (max-width: 900px) {
  main {
    width: 100%;
    margin-top: 8vh;
    padding: 36px 32px 32px 24px;
    h1 {
      font-size: 24px;
    }
    .cart_box {
      padding: 30px 0 0 0;
      .top_title {
        display: none;
      }
      .product_section {
        gap: 28px;
        padding: 20px 0;
        .box {
          height: 29vh;
          .img_part {
            width: 30%;
          }
          .info_part {
            width: 30%;
            flex-direction: column;
            align-items: start;
            .left_part {
              gap: 8px;
              .name {
                font-size: 16px;
              }
            }
            .right_part {
              gap: 0px;
              .quantity_box {
                margin-left: 0;
                margin-top: 16px;
              }
              .totalProductPrice {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
