.navbar {
  width: 100%;
  padding: 0 28px;
  position: fixed;
  background-color: white;
  z-index: 5;
  top: 0;
  .top_nav {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    a {
      color: black;
      cursor: pointer;
    }

    .user_part {
      display: flex;
      gap: 16px;
      a{
        color: black;
      }
      .phone {
        display: none;
      }
      .cartQuantity{
        width: 19px;
        height: 19px;
        background-color: #2a254b;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        border-radius: 2px;
      }
    }
  }
  .nav_categories {
    ul {
      display: flex;
      gap: 44px;
      justify-content: center;
      padding: 20px 0;
      li {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        cursor: pointer;
        a{
        color: #726e8d;
        }
        &:hover {
          color: black;
        }
      }
      .active {
        color: #2a254b;
      }
    }
  }
}
@media screen and (max-width: 448px) {
  .navbar {
    padding: 0 28px;
    .top_nav {
      i {
        display: none;
      }
      .user_part {
        display: flex;
        gap: 16px;
        .phone {
          display: flex;
        }
      }
    }
    .nav_categories {
      display: none;
    }
  }
}
@media screen and (min-width: 448px) and (max-width: 900px) {
  .navbar {
    padding: 0 28px;
    .top_nav {
      i {
        display: none;
      }
      .user_part {
        display: flex;
        gap: 16px;
        .phone {
          display: flex;
        }
      }
    }
    .nav_categories {
      display: none;
    }
  }
}
