.plant_pots {
  width: 100%;
  position: relative;
  header {
    position: relative;
    bottom: 80px;
    width: 100%;
    height: 96vh;
    position: relative;
    .background_img {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .box {
      width: 512px;
      height: 380px;
      padding: 36px 40px 40px 40px;
      background-color: white;
      position: absolute;
      top: 140px;
      left: 55%;
      h1 {
        color: #22202e;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; /* 44.8px */
      }
      p {
        color: #5b5676;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 27px */
        margin-top: 20px;
      }
      button {
        padding: 16px 32px;
        color: #2a254b;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 24px */
        border: none;
        margin-top: 80px;
      }
    }
  }
}

// //////////////////////////////
@media screen and (max-width:1200px) {
    .plant_pots {
        bottom: 0;
        top: 10vh;
        header {
          width: 100%;
          height: 96vh;
          position: relative;
          display: flex;
          flex-direction: column-reverse;
          .background_img {
            width: 100%;
            height: 100%;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .box {
            width: 100%;
            height: 380px;
            padding: 20px 60px 20px 26px;
            position: relative;
            top: 0;
            left: 0;
            h1 {
              font-size: 24px;
            }
            p {
              font-size: 18px;
              margin-top: 12px;
            }
            button {
                width: 94%;
              padding: 16px 32px;
              font-size: 16px;
              margin-top: 32px;
            }
          }
        }
      }
}
@media screen and (min-width:570px) and (max-width:660px){
    .plant_pots{
        top: 20vh;
    }
}
@media screen and (min-width:660px) and (max-width:702px){
    .plant_pots{
        top: 25vh;
    }
}
@media screen and (min-width:702px) and (max-width:1200px){
    .plant_pots{
        top: 30vh;
    }
}